@value shared: "../../style/shared.css";
@value outerspace, havelockblue, quillgray, white, scorpion, headingfont from shared;

.CVHeader {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  background-color: outerspace;
  height: 200px;
}

.CVHeader-corner-box {
  position: absolute;
  top: -4px;
  right: 13.5px;
  font-size: 1rem;
  text-align: right;
}

@media all and (min-width: 600px) {
  .CVHeader-corner-box { font-size: 0.9rem; }
}

.CVHeader-headshot-wrapper {
  align-self: center;
  width: 35%;
  text-align: center;
}
@media all and (min-width: 600px) {
  .CVHeader-headshot-wrapper { width: 25%; }
}
.CVHeader-headshot {
  border-radius: 50%;
  width: 50%;
  min-width: 100px;
  max-width: 115px;
  animation: anim-spin infinite 20s linear;
}

.CVHeader-headings {
  width: 50%;
  font-family: headingfont;
  text-transform: uppercase;
}
.CVHeader-headings * {
  margin: 0;
}

.CVHeader-name {
  font-size: 3.125rem;
  margin-bottom: -3px;
}
.CVHeader-forename {
  color: white;
}
.CVHeader-surname {
  color: havelockblue;
  margin-left: 5px;
}

.CVHeader-profession {
  font-size: 1.8125rem;
  color: white;
}
.CVHeader-profession span:nth-child(even) {
  color: havelockblue;
  margin-left: 5px;
}

.CVHeader-personal-information {
  color: white;
  width: 25%;
  list-style-type: none;
  padding-left: 0;
  white-space: nowrap;
}
.CVHeader-personal-information a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
@media all and (max-width: 600px) {
  .CVHeader-personal-information {
    position: absolute;
    bottom: 0;
    right: 6px;
  }
}
