.HeadingIcon:hover {
  animation: HeadingIcon-anim 0.9s ease-in-out;
}

@keyframes HeadingIcon-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5) translateY(-10px);
  }
  100% {
    transform: scale(1);
  }
}
