@value shared: "../../style/shared.css";
@value havelockblue from shared;

.CVIcon {
  width: 1.375rem !important;
  height: 1.375rem !important;
  padding: 8px;
  margin-right: 5px;
  background-color: havelockblue;
  border-radius: 50%;
  color: white;
}
.CVIcon:hover {
  animation: anim-scale-up 0.9s ease-in-out;
}



