@value shared: "../../style/shared.css";
@value havelockblue from shared;

.CVIcon {
  width: 22px !important;
  height: 22px !important;
  padding: 8px;
  margin-right: 5px;
  background-color: havelockblue;
  border-radius: 50%;
  color: white;
}
.CVIcon:hover {
  animation: CVIcon-spin 0.9s ease-in-out;
}

@keyframes CVIcon-spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5) translateY(-10px);
  }
  100% {
    transform: scale(1);
  }
}



