@value shared: "./style/shared.css";
@value outerspace, havelockblue, quillgray, white, scorpion, linkblue from shared;

html {
  scroll-behavior: smooth;
}

a, a:visited, a:link {
  color: linkblue;
}

.CV {
  background-color: scorpion;
  padding: 0;
}

.CVWrapper {
  margin: 0 auto;
  max-width: 800px;
}

.CVContent {
  background: linear-gradient(to right, quillgray 33%, quillgray 33%, white 33% );
}

.CVFooter {
  background-color: outerspace;
  color: white;
  min-height: 80px;
  padding: 5px 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
