@value shared: "./style/shared.css";
@value outerspace, havelockblue, quillgray, white, scorpion from shared;

.CV {
  background-color: scorpion;
  padding: 0;
}

.CVWrapper {
  margin: 0 auto;
  max-width: 800px;
}

.CVContent {
  background: linear-gradient(to right, quillgray 33%, quillgray 33%, white 33% );
}

.CVFooter {
  background-color: outerspace;
  height: 80px;
}
