@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(./fonts/BEBAS.ttf) format('truetype');
}

@value shared: './style/shared.css';
@value outerspace, havelockblue, quillgray, white, mineshaft from shared;

body {
  background-color: white;
  color: mineshaft;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

