@value shared: "../../style/shared.css";
@value outerspace, havelockblue, quillgray, white, headingfont from shared;

.Article {
  padding: 10px 0;
}
.Article-wrapper {
  display: flex;
}
.Article-aside {
  width: 33%;
  /*background-color: quillgray;*/
  text-align: end;
  padding: 0 20px;
}
.Article-info {
  width: 67%;
  padding: 0 25px;
}

/* aside */
.Article-aside-title {
  font-family: headingfont;
  text-transform: uppercase;
  color: havelockblue;
  word-spacing: 0.2em;
  font-size: 16px;
  font-weight: bold;
}

/* info */
.Article-header {
  display: flex;
  align-items: center;
}
.Article-header-icons {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 6px;
}
.Article-header-icons > li {
  float: left;
}
.Article-header-icons > li > img {
  width: 35px;
  border-radius: 25%;
}

.Article-header h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
.Article-body {
  display: flex;
}
.Article-copy {
  width: 90%;
}
.Article-footnotes {
  font-size: 0.75rem;
}
.Article-icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 5% 0;

  list-style-type: none;
}
.Article-icons li > img {
  width: 28px;
}
